[2019-03-12 20:04] jpvalery opened #1 "Empty sitemap / infinite loading"
Thanks for releasing this plugin!

Installed it on my project but I'm running into an error and I have no idea why.

I added
`    'gatsby-plugin-advanced-sitemap',`
in gatsby-config.js as specified.

When I check https://jpvalery.photo/sitemap.xml I see a link to https://jpvalery.photo/sitemap-pages.xml but this seems to be not functioning.

Any idea of what I might have done wrong? How can I solv

[2019-03-13 04:38] AileenCGN commented on #1
@jpvalery it's almost impossible to tell what's wrong or not working without knowing more details in order to reproduce this issue. Could you share your `gatsby-config.js`? Which version of Gatsby are you on? Which sources are you using? Do you get any errors on your build?

[2019-03-13 06:04] AileenCGN commented on #1
@jpvalery Can you tell me the outcome when you run this query

[code]

in the GraphiQL interface when you run `gatsby develop`: http://localhost:8000/___graphql

[2019-03-13 11:23] jpvalery commented on #1
Sorry about that and thanks for the fast reply.

I didn't get any error on build on Netlify, the site works as expected, the only issue was the one aforementioned.

Here's my gastby-config.js

[code]

Running the query, I get:
[code]

Last but not least, here's the gastby info:

Is there anything else I can provide to help?

Thanks a lot again for your help

[2019-03-14 03:10] AileenCGN commented on #1
Hmm... I tried to reproduce this, using the Gatsby Contentful Netlify, which is the one yours is based on it seems, but it works fine for me.

What I can see is, that you're still using the `gatsby-plugin-sitemap`, which you should remove in favour of the advanced sitemap. But even when I used both plugins, it still worked fine for me:

![image](https://user-images.githubusercontent.com/8037602/54

[2019-03-14 03:13] jpvalery commented on #1
Honestly I didn’t even check it. I just follow closely what you folks are brewing at Ghost and wanted to use that plugin :)

I could try removing advanced-sitemap and see if it works - or would it be easier to give you access to the private repo?

[2019-03-14 03:30] AileenCGN commented on #1
I'm actually really curious to see why it doesn't work in your case. As the plugin is still pretty fresh we weren't able to receive a lot of feedback yet and naturally we only tested with common and known situations.

If you'd like you can send me an invite to your repo, so I could have a look myself (you can kick me out later again). Or try debugging yourself. Whatever you prefer 😊

[2019-03-14 03:32] jpvalery commented on #1
Just sent you an invite! :) Really appreciate all the help/advices/friendliness :pray:

[2019-03-14 04:07] AileenCGN commented on #1
Well, I cloned your repo, installed the dependencies, updated the `siteUrl` in `siteConfig` for testing purposes to `http://localhost:9000` and guess what:

![image](https://user-images.githubusercontent.com/8037602/54330552-32cb7280-4651-11e9-9156-0db6937a9c37.png)

The query works also fine for me locally. I would maybe try to clear cache everywhere (on Netflify trigger the build with clearing t

[2019-03-14 09:13] anonimoconiglio opened #2 "Some conflict with siteMetadata query on config file"
During the build process it return me this error:
[code]

This is my gatsby-config.js:

[code]

Should I insert the query outside the plugins?

[2019-03-14 09:17] AileenCGN commented on #2
Hey @anonimoconiglio

You will need to add `siteUrl` to your config:

[code]

`siteUrl` is a required property in `siteMetadata` in order to use this plugin.

Hope that helps!

Gonna close this issue, as it's not a bug 🐛

[2019-03-14 09:17] #2 closed

[2019-03-14 11:17] anonimoconiglio commented on #2
Thanks! It worked (sorry for the noobness)

[2019-03-14 13:22] jpvalery commented on #1
🤔 indeed! I got in touch with Netlify to ask them to clear the cache and redeploy. I'll let you know if that changes anything.

Might take 24-48h to hear back and will report back as soon as I can test.

[2019-03-15 02:26] AileenCGN commented on #2
Perfect 👌

[2019-03-18 02:56] jpvalery commented on #1
So I finally managed to rebuild without cache. And unfortunately, I'm still getting the same error...

Nothing seems to be going wrong during the build from what I can read in the logs.

I've quickly tried locally and sitemap-pages.xml doesn't have any formatting but it works and the content seems to be there...
<img width="1933" alt="image" src="https://user-images.githubusercontent.com/4112343/5

[2019-03-18 02:58] AileenCGN commented on #1
When you're testing it locally, you will need to temporary change your `siteUrl` in `siteConfig.js` to `http://localhost:9000`, because otherwise the xsl stylesheet reference doesn't work.

[2019-03-18 03:01] jpvalery commented on #1
I actually did `siteUrl: 'localhost:9000', `
Switching to `http://localhost:9000` indeed put back the styling.

Could it be that in my original file, the url is `siteUrl: 'https://jpvalery.photo', ` and that the https messes things up? (Sorry if it's a stupid question)

[2019-03-18 03:34] AileenCGN commented on #1
It _shouldn't_. Something weird must happen within Netlify, or maybe even the offline-plugin, seeing that it works fine locally. Are you using any other build variables within Netlify?

I don't know what it could be other than that 🤔

[2019-03-18 12:23] jpvalery commented on #1
Hey,

Here’s the reply from Netlify:

Hello JP,

I've no idea what is causing your sitemap to not work, unfortunately, since your build is not failing and it doesn't seem likely to be any error messages. The easiest way to debug your build in our environment is to pull down the docker container that we use as a build image and use it interactively:

docker pull netlify/build
git clone https://gith

[2019-03-18 13:12] jpvalery commented on #1
Hey,

Here’s the reply from Netlify:

I've made a branch where I removed the offline plugin and the sitemap plugin, updated the siteURL config. And updated yarn.lock.

Currently testing and will report back as soon as I have some results

[2019-03-18 13:29] jpvalery commented on #1
Well that didn't work. The site deploys but the error is still there.

I tried downloading the zip of the deploy, and the sitemap-pages.xml file is empty.

Here's the build log from netlify:

So even with yarn.lock updated and build deploying correctly, this sitemap-pages.xml remains empty...

[2019-03-19 03:24] AileenCGN commented on #1
The only difference I can see from the setups we're using and yours, is the "Asset optimization", which is completely disabled in our setup. I wonder if that has anything to do with it...

[2019-03-19 10:57] jpvalery commented on #1
Trying with the JS asset optimization options deactivated + rebuilding with cache cleared.

[2019-03-19 11:10] jpvalery commented on #1
Doesnt work either. Same issue :(

[2019-03-24 17:04] jpvalery commented on #1
I've tried to change the build command and it was a bad idea - the deploy gets stuck and Netlify doesn't offer any way to abort a build. Waiting for it to auto-abort or them to kill it.
Once it's over, I'll give disabling pretty URLs a try.

As for Netlify, the only reply I got from them was:

So I'm now trying their suggestion as well. Even though I have 0 docker knowledge and I don't see how I'm

[2019-03-25 03:00] AileenCGN commented on #1
This could be a reason as well.

No, it should just work with the standard `gatsby build`

The plugin _should_ work as default, but you could also try a Contentful, customised setup. I used it with a Contentful source like this:

[code]

You would need to adjust the fieldnames and make you that your content includes the minimum required fields `id` and `slug`.

But before you take that step, you s

[2019-03-25 03:11] jpvalery commented on #1
Hey!

No worries :) Happy to help and appreciating your patience and everything :100:

I've tried the `disabling pretty URLs` and it didn't change anything. I'll give a try to removing `advanced-sitemap` and reinstalling `sitemap` tomorrow evening or tuesday's and see how it goes.
_I'd be tempted to say it will work since https://iammatthias.com/sitemap.xml works and my portfolio is forked from hi

[2019-03-25 03:24] jpvalery commented on #1
https://jpvalery.photo/sitemap.xml it does work indeed :(
<img width="2248" alt="image" src="https://user-images.githubusercontent.com/4112343/54893401-005d1900-4e8c-11e9-92b0-29d2169a63af.png">

[2019-03-25 03:35] jpvalery commented on #1
So `gatsby-plugin-sitemap`works.

I've tried
[code]
followed by updating gatsby-config.js. And unfortunately the error/issue/bug is still happening.
Even if I try [deploying with a cleared cache](https://5c984b047d43a0bb588a9f45--jpvalery-portfolio.netlify.com/).

In the mean time, I've reverted to my deploy with `gatsby-plugin-sitemap`.

If that can be of any help, I've also opened my repo to the

[2019-03-25 04:37] AileenCGN commented on #1
Ok. I copied your repo over (still had the credentials) and deployed to a test Netlify site: https://xenodochial-borg-469f65.netlify.com

Same issue here!! Will try the docker build and see if I can get to the cause of it.

[2019-03-25 09:38] AileenCGN commented on #1
I played around with it using Docker, but unfortunately could not find the reason why it's not working like it is locally. I can see, that the `sitemap-pages.xml` file gets generated, but it's empty. Somewhere on the way, it goes wrong.

I tried the same for the `gatsby-starter-gcn`, which leads to the same problem. Works fine locally, but not with Docker.

I will reach out to Netlify to see if th

[2019-03-25 10:46] jpvalery commented on #1
Thank you so much for all these efforts.

If you have a support ticket number, please send it my way so I can reference it in mine.

Let me know if there’s anything else I can do in the mean time.

[2019-04-09 03:00] #1 closed

[2019-04-09 03:09] AileenCGN commented on #1
Finally found the fix for it! Please update to 1.0.4! It should work now _finally_!!

[2019-04-09 03:30] jpvalery commented on #1
IT WORKSSSSSSSSS https://jpvalery.photo/sitemap-pages.xml

🙌 🙌 🙌 🙌 🙌 🙌 🙌 🙌 🙌 🙌

[2019-04-09 03:31] jpvalery commented on #1
Thank you soooooo much AileenCGN. I really really appreciated all your help and dedication 💯

So thrilled to be rocking that Advanced Sitemap 💪

[2019-04-09 03:32] AileenCGN commented on #1
You're very welcome! Thank you for helping so much here so we were able to find it!!

[2019-05-30 23:55] marcoveeneman opened #3 "Empty sitemap when site is not located on root"
### Issue Summary

When creating a sitemap for a site that is not located on the root, e.g http://example.github.io/my-gatsby-site/, the sitemap is not generated correctly. The my-gatsby-site suffix is missing when inspecting the sitemap. See:
`<?xml-stylesheet type="text/xsl" href="//example.github.io/sitemap.xsl"?>`

### To Reproduce

1. Add pathPrefix to gatsby config
2. gatsby build && gatsby

[2019-07-04 08:41] #3 closed

[2019-08-07 08:44] thomkrupa opened #5 "An option to disable description"
Hey,

is there an option to remove/disable the description from generated sitemaps?
"Advanced Sitemap for search engine consumption, by Ghost."

[2019-08-07 10:34] daviddarnes commented on #5
Hey there, looks like the sitemap file is a template that's pulled in from here https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/blob/master/static/sitemap.xsl
I guess if you can access the template via `gatsby-node.js` you could remove the element from the generated page?

[2019-08-26 12:57] AileenCGN commented on #5
Hi @thomkrupa

Thanks for the idea!

We only keep Github issues open for bugs and in-progress feature work. Please check out [our forum](https://forum.ghost.org) to see if your suggested idea already exists, so you can upvote it, or post this idea in the features section for other users to see and upvote.

[2019-08-26 12:57] #5 closed

[2019-09-06 11:26] TomasBankauskas opened #6 "Dead link in README.md file"
Hey Ghost team,

you have the dead link in README.md on line 5 -> **Demo:** https://docs.ghost.org/sitemap.xml it leads to 404 page.

[2019-09-06 15:36] #6 closed

[2019-09-06 15:37] daviddarnes commented on #6
Thanks for spotting that @TomasBankauskas!

[2019-09-12 18:10] karolis-sh opened #7 "siteUrl issues in review env's etc."
### Issue Summary

If advanced sitemap isn't deployed, the sitemap won't because of 404d `/sitemap.xsl`. I manually tried to edit xml file and make url relative rather than absolute (`<?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?>`). Maybe this approach would be valid?

### To Reproduce

1. `gatsby build`
2. `gatsby serve`
3. Go to `/sitemap.xml`
4. `/sitemap.xsl` will fail to load if it i

[2019-09-16 02:53] AileenCGN commented on #7
Sounds like a good idea to make it relative! The other option is to change the `siteUrl` in your config to be `http://localhost:9000`.

[2019-09-19 05:31] #7 closed

[2019-09-26 05:35] aileen opened #9 "`/` not listed when plugin used in default settings"
### Issue Summary

When the plugin is used without further configuration, the home page `/` is not listed in `sitemap-pages.xml`

### To Reproduce

1. Use this plugin without any option e. g. with the [Gatsby Starter Ghost](https://github.com/TryGhost/gatsby-starter-ghost)
2. Ran `yarn serve`
3. See, how the home page is missing

[2019-10-02 11:21] GreatState opened #10 "Cannot read property 'replace' of undefined"
### Issue Summary

A summary of the issue and the browser/OS environment in which it occurs.

### To Reproduce

1. Run gatsby build

### Technical details:

I get an error

[code]

[2019-10-02 11:27] GreatState commented on #10
Looks like it's an issue with

`var slug = source === "allMarkdownRemark" || source === "allMdx" ? node.fields.slug.replace(/^\/|\/$/, "") : null //node.uid.replace(/^\/|\/$/, "");`

I don't have slug in my query

[2019-10-02 11:27] ajonp opened #11 "Allow custom serializers"
### Issue Summary

Allow to send in custom serializer for graph data, so that your graph data will work with plugin.

This is the area that is the issue:
https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/blob/9fb99e965fa961d93df58e2072fd72301d0e86f3/src/gatsby-node.js#L182

ERROR #11321  PLUGIN

"gatsby-plugin-advanced-sitemap" threw an error while running the onPostBuild lifecycle:

node

[2019-10-02 11:47] GreatState opened #12 "getting 1 page returned"
### Issue Summary

passing a graphql query to retrieve all site pages and all news articles. This query works fine in gatsby develop and i get back lots of records. However when i use the plugin it's returning the first record?

Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?

### Technical details:

* Gatsby Version: 2.13.65
* Node Version: 10.15.3

[2019-10-02 12:53] GreatState commented on #10
How do we get round the issue of having sub elements?
`allImageSharp {
    edges {
      node {
        id
        original {
          src
        }
      }
    }
  }`

I'm trying to retrieve all images throughout the site. I can obviously alias original as

slug:original

but then the code will error as it's looking for node.slug.replace

[2019-10-02 15:34] GreatState commented on #12
Think i've worked out what this.We need top pass in an id prop

[2019-10-02 15:34] #12 closed

[2019-10-03 00:24] AileenCGN commented on #10
You need to pass in a `slug` value for this plugin to work.

In your case, you can simply rename it as so:

`slug: uid`

or

`slug:path`

This should do the job. I will update the Readme to make sure, this is mentioned. Thanks for pointing it out!

[2019-10-03 00:24] #10 closed

[2019-10-03 09:11] GreatState commented on #10
HI, I can do this for other queries but for images it's another sub level

THis works`allSitePage {
              edges {
                node {
                  id
                  slug: path
                }
              }
            }`

but for images the query is

[code]

or
[code]

which means it's still an extra level

[2019-10-03 09:17] GreatState commented on #10
ah okay. I get it now. I was under the impression the slug had to be the URL of the image or resource.

[2019-10-03 10:18] GreatState commented on #10
I've got a bit further with it by detecting allImageSharp query
`var slug = source === "allMarkdownRemark" || source === "allMdx" || source === "allImageSharp" ? node.fluid.slug.replace(/^\/|\/$/, "") `

which seems to generating the xml now but the buikld breaks

[code]

[2019-10-03 13:17] GreatState commented on #10
Okay. I've realised why i think. Images need to be in a different format

[code]
Looks like you can't link directly to an image in the url element?
https://www.practicalecommerce.com/seo-include-images-and-videos-in-sitemaps

[2019-10-04 09:10] GreatState commented on #10
Anyway of supporting images used on a page?

[2019-11-05 22:08] bryanberger opened #13 "Error when running gatsby build with --prefix-paths"
### Issue Summary

Trying to use this plugin and deploy to Github Pages (using gh-pages)

**Errors**
[code]

### To Reproduce

1. add a `pathPrefix` key/value to gatsby-config.js
2. `gatsby build --prefix-paths`

Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?

### Technical details:

* Gatsby Version: 2.10.0
* Node Version: 12.10.0
* OS: Mac OSX Mo

[2019-11-13 21:08] jbuffin commented on #13
I'm having the same issue

[2019-11-20 03:09] dimileeh commented on #13
I'm a novice in nodejs, so bear with me.
I also get this error. When I run `gatsby build --prefix-paths`, right when it starts creating HTML files, I run `mkdir public/<PREFIX_PATH>` and that's it, no errors :)

So, there are two ways to fix this issue.

1. Figure out why yarn (or npm) doesn't create the prefix-path folder in `public` for the given sitemap.xml automatically.
2. Make the sitemap ig

[2019-11-20 03:50] dimileeh commented on #13
For now, I've selected the second option and simply removed `pathPrefix` from `indexSitemapFile` and `resourcesSitemapFile` in the `src/gatsby-node.js` file and re-added the module through `yarn add`. And it all works.

It's a shame I'm not that experienced in nodejs to contribute with the third option :(

[2019-12-02 15:28] alexthewilde commented on #13
@dimileeh your quick fix works.

What I don't understand: why is `pathPrefix` being used here in the first place?
https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/blob/9fb99e965fa961d93df58e2072fd72301d0e86f3/src/gatsby-node.js#L238

[2020-01-06 09:21] AkashRajpurohit commented on #9
I noticed the same thing when I used this plugin to generate the sitemap for my new website.

Earlier I was importing the plugin as
[code]

I have changed it to a different config to have different blocks for the different section of my site.
The new config is like this

[code]

Now I have the `/` route as well in the `sitemap-pages.xml` file.

Have attached the screenshots below. Also, you can re

[2020-01-28 21:42] tobinharris opened #15 "runner.query(...).then is not a function"
### Issue Summary

`yarn build` is failing with error:

`runner.query(...).then is not a function`

### To Reproduce

1. See config below
2. `yarn build`
3. Fail

I'd expect it to work, but get this:

[code]

### Technical details:

* Gatsby Version: 2.15.30
* Node Version: v13.5.0
* OS: OSX
* gatsby-config.js:

[code]

[2020-02-05 23:10] kramerkm opened #16 "Allow for mapping to the same sitemap"
I'm currently working on a website and need to create separate sitemaps for each product type.  In order to to do this, I need to combine multiple queries into 1 sitemap file. Is there a way to map separate queries to the same sitemap and just have it continue adding rather than replacing?

[code]

[2020-02-11 13:39] AileenCGN commented on #15
hmm.. Are you able to run this query:

[code]

This is the default query, which will run when no query is passed. Would be good to know if that's the cause of it...

[2020-02-11 13:43] AileenCGN commented on #16
That would be a very nice feature!!! PRs are very welcome 😃

[2020-02-11 14:05] jpvalery opened #17 "Build fail with v1.5.0"
### Issue Summary

CI/CD with GH Actions encounters an issue during build
![image](https://user-images.githubusercontent.com/4112343/74243253-6a9dc880-4cad-11ea-9197-eb4711e78c55.png)
https://github.com/MontrealPhotoClub/montrealphotoclub.en/pull/121/checks?check_run_id=438650317

[code]
### To Reproduce

1. Try to build with v1.5.0
2. Get an error "additionalSitemaps.forEach is not a function"

#

[2020-02-11 14:12] AileenCGN commented on #17
Ouch.. good catch. Fix coming in a sec 😬

[2020-02-11 14:16] #17 closed

[2020-02-11 14:17] AileenCGN commented on #17
Just published the fix! Please let me know if it's not fixed by that! And thanks for the quick report 😊

[2020-02-11 14:20] jpvalery commented on #17
Pleasure is all mine! Thanks for the quick fix ;)

CI workflows are running, will let you know if they fail 🤘

[2020-02-11 14:29] jpvalery commented on #17
All good 💯

[2020-02-14 20:34] tobinharris commented on #15
Hi, thanks for the reply. Yes that gives the same error.
[code]
Thanks,

T

[2020-02-25 06:45] ghanshyammac opened #19 "Their should be handle if node.slug is undefined or null"
Welcome to the Gatsby Plugin Advanced Sitemap GitHub repo! 👋🎉

We use GitHub only for bug reports 🐛

Anything else should be posted to https://forum.ghost.org 👫

For questions related to the usage of Gatsby or GraphQL, please check out their docs at https://www.gatsbyjs.org/ and https://graphql.org/

🚨For support, help & questions use https://forum.ghost.org/c/help
💡For feature requests & ideas yo

[2020-02-25 10:47] styxlab opened #20 "sitemap-pages.xml is missing all pages except root"
# Description
When you inspect the page links, e.g. in the starter demo under https://gatsby.ghost.org/sitemap-pages.xml only the root link is listed but all links to pages are missing (e.g. about, rss). Compare that to the standard demo at https://demo.ghost.io/sitemap-pages.xml where those pages are listed.

# Details
I checked in the `grapghql` explorer that the pages are present under the expe

[2020-02-25 12:08] kevinansfield commented on #20
@styxlab the about page is listed here https://gatsby.ghost.org/sitemap-posts.xml

[2020-02-25 12:49] styxlab commented on #20
Okay, this is correct if the about page is a "post". I checked with an about page that is a "page" and it is not shown under sitemap-pages.xml as I would expect.

[2020-03-02 06:49] AileenCGN commented on #15
@tobinharris Can you try to run the query from above in your GraphiQL http://localhost:8000/___graphql with the sitemap plugin disabled and see, if it works?

I'm not able to reproduce this so far

[2020-03-02 06:57] AileenCGN commented on #19
`node.slug` is a required field, so the handle shouldn't be necessary. BUT there should be test for the existence of the field and a hard error if it's not missing.

[2020-03-02 06:57] #19 closed

[2020-03-02 06:59] AileenCGN commented on #20
The about page is in fact a post, not a page. Closing this as it's not an issue.

[2020-03-02 06:59] #20 closed

[2020-03-02 10:42] styxlab opened #21 "sitemap-pages.xml does not list pages of type page"
# Description

When you add a page to your blog post and source them in with gatsby-starter-ghost, those pages shoud be listed under sitemap-pages.xml. Currently, they are not shown.

# Steps to reproduce

1. `ghost install local` to get a fresh ghost installation
2. add a custom integration to generate a ContentAPI key
3. Add a **page** (e.g. /test-page/)  in ghost admin with some dummy text
4. l

[2020-03-10 17:52] babgyy commented on #9
Thanks @AkashRajpurohit for the indications. I ended up doing something similar.
I had to update the plugin to the latest to make it work.
One problem with your solution in my setup : i only wanted one sitemap.
So I ended up writing a query that matches no pages, in order to have all of my pages uncaught and gathered in a single sitemap

My config

[code]

[2020-03-13 09:23] sanderfish opened #22 "Missing nodes cause by lodash merge"
Hey @AileenCGN 👋

I came across your plugin as I wanted to split up a sitemap for a client project in pages and posts. After configuring the plugin I noticed some pages were missing in the sitemap. I stepped through the plugin's code and the issue seems to occur in the `serializer` function on line 239:

`const allNodes = _.merge(nodes, pageNodes)`

In my case the `merge` function seems to remove

[2020-03-19 15:35] bartveneman opened #28 "lastModified not in sitemap output"
### Issue Summary

The `lastModified` is not reflected for any url in my sitemap. It always shows the timestamp of the time the sitemap was generated.

### To Reproduce

#### Query
[code]

#### Response
[code]

#### Sitemap.xml

[code]

I expect every url to use the `lastModified` field as timestamp, instead it shows the timestamp of the time the sitemap was generated, making every page having the

[2020-03-20 08:44] bartveneman commented on #28
Apologies, I must have made a mistake somewhere. I can confirm that the timestamp works correctly when using `updated_at`.

[2020-03-20 08:44] #28 closed

[2020-03-29 10:05] MansoorMajeed commented on #13
Since I didn't need the advanced features, I ended up using the basic sitemap plugin https://www.gatsbyjs.org/packages/gatsby-plugin-sitemap/ which works fine

[2020-04-04 08:30] AileenCGN commented on #22
Sorry! Didn’t get to check this yet!! Looks like a valid bug. Happy to merge fixes for it, otherwise looking to get to this in the next weeks 🤪

[2020-04-20 02:39] #22 closed

[2020-04-20 04:54] AileenCGN commented on #22
Hmmm... The first tests seemed ok, that's why I merged the PR, but there were some issues with it.

I just pushed a different approach, which fixes the issues I had after merging the PR. When you have a minute, can you check if this solves your issue?

[2020-05-18 13:07] muravitskiy commented on #9
Here is the problem: `getNodePath` returns an incorrect result for `/` node, that's why it is not included in the final sitemap.

[2020-06-01 06:05] #9 closed

[2020-06-26 21:39] alexfromesper opened #67 "Incorrect header type causing indexing to fail"
**Summary**
If you run any site that uses this plugin through a sitemap validator, an error is sent back indicating that the content type is set to "text/plain" rather than "application/xml".

This is causing google to not index any of the pages that are listed on the sitemap files.

**To Reproduce**
Test with sitemap checker
https://www.xml-sitemaps.com/

and then even use the example URL provide

[2020-06-27 17:39] cakasuma opened #68 "Is there a way to include <xhtml:link hreflang /> tag?"
Hi, I am trying to include
[code]

but found no workaround, afaik, this is to tell crawler about localization in our site following this guideline https://support.google.com/webmasters/answer/189077?hl=en

[2020-06-29 19:26] #67 closed

[2020-07-14 20:20] bdong8boss opened #83 "Unable to remove <lastmod/> Tag"
### Issue Summary

[code]

We would like to exclude the <lastmod/> tag in the sitemap, but there isn't any configuration for that and we can't edit the XML file directly.

### To Reproduce

1. yarn install the plugin package.
2. add the plugin in gatsby-config.js
3. add the additional sitemap URL

### Technical details:

* Gatsby Version: 2.13.51
* Node Version: 13.8.0
* OS: MacOS 10.15
* gatsby-c

[2020-07-14 20:23] bdong8boss commented on #68
Did you try to add
[code]
BTW, how did you manage to get rid of `<lastmod/>` info in your sitemap?

[2020-07-19 18:59] kaknut opened #84 "Doesn't work with assets prefix"
Sitemap doesn't gets generated as the plugin fails to find proper path.

Build using : gatsby build --prefix-paths

[2020-08-03 03:56] aileen commented on #84
Duplicate of https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/issues/13

[2020-08-03 03:56] #84 closed

[2020-09-03 10:32] srivastavarnav commented on #13
any update on this bug?

[2020-09-15 02:53] aileen commented on #15
Closing this now, as I'm not able to reproduce and didn't seem to have appeared again

[2020-09-15 02:53] #15 closed

[2020-09-15 03:15] aileen commented on #21
Hey @styxlab

I'm not able to reproduce this. Just added a page and ran `gatsby build && gatsby serve` and the page is perfectly shown with the current configuration of the `gatsby-starter-ghost`

<img width="855" alt="image" src="https://user-images.githubusercontent.com/8037602/93161037-ccec0980-f765-11ea-89b3-92f7b65b3bc5.png">

*_note_: the page is now deleted again in production, so you won't

[2020-09-15 03:15] #21 closed

[2020-09-15 03:19] aileen commented on #68
Hey @cakasuma

This is currently not possible to do with this plugin. As usual: PRs are welcome but it's currently not on our radar to add this ability.

The suggested workaround can work if you have sitemaps created by other frameworks. You can see this in action on our https://ghost.org/sitemap.xml site, where we manually added the `/blog` sitemaps generated by Ghost itself.

Closing this, as we

[2020-09-15 03:19] #68 closed

[2020-09-15 03:28] aileen commented on #83
Hey @bdong8boss

There's currently no intention from our side to remove the `<lastmod>` tag or make it an optional value. Happy to check and merge PRs if you think this should be an option 😃

[2020-09-15 03:30] bdong8boss commented on #83
thanks, I think we can close this one for now

[2020-09-15 03:31] #83 closed

[2020-11-17 15:49] catalina-cimpanu opened #108 ""gatsby-plugin-advanced-sitemap" threw an error while running the onPostBuild lifecycle: Cannot read property 'replace' of undefined"
### Issue Summary

I am trying to get a sitemap for my website, made in Gatsby with strapi, and i tried using this plugin.
Unfortunately, i am getting this error:

[code]

This is what i have in gatsby-config:
[code]

I honestly don't know what i am doing wrong... or maybe this plugin can only be used for gatsby + ghost ? or is it that you absolutely need a query for your data and you absolutely n

[2020-11-17 17:37] fernandorosenblit opened #109 "Help with client paths"
I need help to create the sitemap including client paths. Is it supported?

[2020-11-18 00:07] aileen commented on #108
Hey @catalina-cimpanu

Correct, the plugin expects a `slug` property. You should be able to just update your current query and rename `article_slug` to `slug` when . Let me know if that worked:

[code]

[2020-11-18 00:07] #108 closed

[2020-11-18 00:08] aileen commented on #109
Hey @fernandorosenblit 👋

We ask that you please do not use GitHub for help or support, the default issue template pointed you to our [forum](https://forum.ghost.org) for this type of question 😄 We use GitHub solely for bug-tracking and on-going feature development so we try to keep it noise free.

Many questions can be answered by reviewing our docs for [self-hosters](https://docs.ghost.org), our

[2020-11-18 00:08] #109 closed

[2020-11-18 15:51] catalina-cimpanu commented on #108
Yes, it worked!! Gosh, i feel a bit dumb, basically it was my lack of understanding.. but it didn't go through my mind to declare the slug like that, what a beginner i am :)))
I saw it automatically creates the xml map for the pages, the articles is just extra ;) niiiice! thank you so much :D

[2020-11-22 02:21] devquestionz opened #110 "How can I add a custom page link?"
Is it possible to add a custom page link to the sitemap? I want to include the actual home page (the main website link) but I can't

[2020-11-22 02:32] devquestionz opened #111 "Contentful last update is wrong"
I use this for contentful posts

[code]

but Last Modified column always shows the wrong date (the build date) and not when the post was updated, is there a fix for this?

[2020-11-23 00:57] aileen commented on #110
Hey @devquestionz  👋

We ask that you please do not use GitHub for help or support, the default issue template pointed you to our [forum](https://forum.ghost.org) for this type of question 😄 We use GitHub solely for bug-tracking and on-going feature development so we try to keep it noise free.

Many questions can be answered by reviewing our docs for [self-hosters](https://docs.ghost.org), our [th

[2020-11-23 00:57] #110 closed

[2020-11-23 00:59] aileen commented on #111
@devquestionz the plugin is expecting the property written like this: `updated_at`.

If you go ahead and change your query to:

[code]

it should work fine.

[2020-11-23 00:59] #111 closed

[2020-11-23 19:07] devquestionz commented on #110
@aileen thanks

[2020-11-26 21:53] Olegt0rr opened #113 "Images: 0 for every page"
### Issue Summary
`gatsby-plugin-advanced-sitemap` didn't see any images on my page
Should I use any special tags to correctly detect it?

[code]

### Technical details:
* Gatsby Version: 2.27.3
* Node Version: 15.3.0
* OS: Linux (node:latest docker)
* gatsby-config.js: (without any options)

[2020-11-30 04:14] YoungiiJC opened #114 "Exclude excludes more than exact matches"
Hey there. It seems the exclude method is not working correctly. When I exclude `/team`, pages such as `/submit-your-team` or `/request-a-team` are excluded as well.

Line 225 of `gatsby-node.js` is:
[code]

This might be by design, so correct me if I'm wrong 😄 But looks like `slug` and `excludedRoute` are transposed. If we do:
[code]
    {
      resolve: `gatsby-plugin-advanced-sitemap`,
      op

[2020-11-30 07:05] YoungiiJC opened #115 "Index page not included in sitemap"
### Issue Summary
Packages does not generate `src/pages/index`. i.e. sitemap is missing the base url.

### To Reproduce
Here's my config + `gatsby-plugin-sitemap` (for comparison):
[code]

`gatsby-plugin-advanced-sitemap` generates:
<img width="843" alt="Screen Shot 2020-11-30 at 3 03 13 PM" src="https://user-images.githubusercontent.com/16216219/100578395-2ef7ec00-331d-11eb-9988-44e552ca78cc.png"

[2020-12-21 13:48] Kumail786 commented on #13
Any update on this ? facing same issue while using **gatsby-plugin-advanced-sitemap**

[2020-12-23 20:33] francesco-serialparts commented on #114
I have a similar problem about the not exact match between URL. I have several sitemaps with URL queried from different queries, one of that is from an custom post in an headless WP source allWordpressWpGuide.
When I use the plugin, some posts of this query go between the UncaughtPages and are been replaced from other posts (from blog or custom post) with similar URL.

[2020-12-28 08:52] defaultz12 opened #120 "There are instance where the listed sitemap is not the slug"
### Technical details:

* Gatsby Version:  2.23.3
* Node Version: 12.16.1
* OS: Windows 10
* gatsby-config.js:

I have this custom plugin that I created from a third party source API.

The gatsby graphql contains slug and parentPath.

However, when I generated the plugin, there are instances that it is not using the slug.

Here are my thoughts. For example,
Slug: "paardenvoer/"
parentPath: "Dieren

[2021-01-20 22:47] div-cowboy opened #124 "Using a CSV or other data source to exclude urls"
I'm building a site for a client, and they want to be able to manage excluding links from the site map. Is there anyway to connect a csv to that field or do a graphql call to WP? I want to keep them out of my gatsby config

[2021-01-21 13:08] renovate[bot] opened #125 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:48] #125 closed

[2021-01-28 06:11] yogeshkotadiya commented on #13
I've not tested fully but hopefully, this should solve issue #126

[2021-02-02 21:18] #11 closed

[2021-02-02 21:18] #13 closed

[2021-02-03 22:22] moritzsalla opened #132 "Error querying gatsby-source-graphql plugin"
I am using `gatsby-source-graphql` to query GraphCMS, which creates nested nodes for all of my fields.

[code]

With no configuration, `gatsby-plugin-advanced-sitemap` creates a single `sitemap-pages.xml` that gives me a 404.

I also can't figure out how to map nested data sources, since there's no way to destructure (or perhaps there is?). Nesting objects won't work.

[code]

[2021-02-09 16:38] dougwithseismic opened #134 "Example of Serializer Output Needed"
Does the Serialize function behave the same as https://www.gatsbyjs.com/plugins/gatsby-plugin-sitemap/?
There's no example of what's needed - I'm trying to change the changefreq, priority and lastmod using the serializer but always receive an error on build.

Any docs on what the serializer expects to return would be incredible; I'll write up if I can get this to work.

[code]

[2021-02-10 17:42] yogeshkotadiya commented on #134
Yes, it exposes the edges of the GraphQL query result for any field value mutation.

I don't think the plugin currently supports `changefreq` and `priority` in the sitemap, but feel free to open a PR.

And for the lastmod, Can you try with this query?
[code]

[2021-02-10 17:46] yogeshkotadiya commented on #132
Anyway to reproduce this? Seems like a wrong query request.
As this plugin expects a node or edges.

[2021-02-10 17:54] yogeshkotadiya commented on #113
You must provide an image source in your GraphQL query.
It could be either `cover_image || profile_image || feature_image`.

e.g.
[code]

[2021-02-12 17:58] moritzsalla commented on #132
It's a little hard to replicate, unfortunately.

…seems to be the issue. I'm fairly new to graphql so I've got to wrap my head around this. Is there a way around this? Can't the plugin take nodes 2 levels deep? Perhaps it's possible to configure `gatsby-source-graphql` to expose `projects` and `workshops` without nesting them in the `graphCMS`edge.

[2021-02-18 06:41] #134 closed

[2021-02-22 21:32] generalpiston commented on #13
@yogeshkotadiya not entirely. It still doesn't generate sitemap-(part).xml because the nested directory doesn't exist. You might need to make any parent directories if they don't exist.

[2021-02-23 00:15] generalpiston commented on #13
@yogeshkotadiya another problem is the relative location of `sitemap.xsl`. The sitemap files are prefixed with `pathPrefix`, but the `sitemap.xsl` is not.

[2021-02-23 02:44] generalpiston opened #140 "Make excludes more intuitive"
The `exclude` option is incredibly unintuitive. The examples look like the following:

[code]

The above examples make it seem like `/dev-404-page` would either match a URI exactly or the beginning of it (ie. `/dev-404-page` would be rejected or `/dev-404-page/.*` would be rejected).

In reality, the following examples would be rejected:

- /dev-404-page
- /aaa/dev-404-page/loremipsum
- /dev-404-p

[2021-03-01 20:11] anicioalexandre commented on #13
I'm still getting this "file or directory not found" using `gatsby-plugin-advanced-sitemap` with `pathPrefix` :(

[2021-03-14 13:06] yogeshkotadiya opened #146 "V2: Ideas and Umbrella ☂"
Now that Gatsby 3 has been released, We should also proceed with the Next Major release.

Here are some of the changes that I'm proposing.

## Major Breaking Changes
- [ ] Drop Node 10 (EOL April 2021)
	- [ ] Remove deprecated API
- [ ] Upgrade to Gatsby 3
- [ ] Typescript?

## Features

- [ ] Support for `changefreq` and `priority` in XML
- [ ] Allows custom output path for individual sitemap

We

[2021-03-15 13:24] willhowlett commented on #134
@dougwithseismic I'm struggling getting this to work as well

The __typename error appears to be because the serializer has to return an array of node objects, and is expected to match the structure of the default queries

so
[code]

should be something like

[code]

I'm finding that only the last item in the array returned by the serailizer function actually gets added to the sitemap

So for the

[2021-03-15 13:53] willhowlett commented on #134
Ah, as per https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/issues/12#issuecomment-537549971 - each node object returned needs an id

So original example would be
[code]

[2021-03-15 14:42] generalpiston commented on #13
@yogeshkotadiya the offending line for `sitemap.xsl` is here: https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/blob/95276f9c5db8d308e2277b21992baa529d11667e/src/utils.js#L13.

[code]

Basically, if sitemaps are generated under `pathPrefix`, then the xsl needs to be in the same directory or referenced to correctly.

Why not move it under `pathPrefix`?

[2021-03-16 08:24] mrkaluzny commented on #146
@yogeshkotadiya  The plugin seems to be working with Gatsby 3 as expected, are there any major changes that have to happen? (I'm using this plugin in all projects :) )

[2021-03-16 20:30] AleC77 opened #148 "warn Plugin gatsby-plugin-advanced-sitemap is not compatible with your gatsby version 3.1.0"
### Issue Summary

warn Plugin gatsby-plugin-advanced-sitemap is not compatible with your gatsby version 3.1.0 - It requires gatsby@^2.0.0

### To Reproduce

1. Gatsby build
2. This is the second step, etc.

### Technical details:

* Gatsby Version: 3.0

can you change package.json to let be compatible with gatsby 3.0?

you probably needs to change the devDependencies in package.json if you have a

[2021-03-17 18:23] andrewdever opened #150 "Serializer: more detailed docs / examples / confirmation it works"
*I currently don't use ghost.org–but want to use this plugin for gatsby in general–so I'm posting feedback here.

I can't seem to get serializer working.

In `gatsby-config.js` I have: (NB: the rest of the plugin settings are fine, including the query for allBlogPost)
[code]

`sitemap-blogposts.xml` output: (NB: file was generated but no priority, changefreq, i.e. not serializer didn't impact outp

[2021-03-18 19:24] AleC77 commented on #140
any update about that? I am interested to this me too. For international web sites I would make something like /es/*

[2021-03-19 23:59] andrewdever commented on #150
Further details and an update–

My goal is to add `changefreq` and `priority` to entries in the generated sitemap.

I realized my last code was giving errors (`cannot read property __typeface of undefined`, etc.). I've updated my code in `gatsby-config.js` for the plugin as follows:

[code]

I noticed to access the node object–where `slug` and `updated_at` variables are–I had to use `edge.node`.

[2021-03-30 12:16] #150 closed

[2021-04-10 01:14] generalpiston commented on #146
Legitimately fix https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/issues/13 ?

[2021-04-12 08:00] LekoArts commented on #148
The `devDependency` is not the problem, the `peerDependency` must be set to `^3.0.0`:

https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/blob/40754f15de8758b37e29d7a6b4ac8d59eb95ffb8/package.json#L32

I'd expect this to happen with https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/issues/146

[2021-04-13 14:20] AleC77 commented on #148
Any update in this?

[2021-05-05 19:23] DanielRiveraHQ commented on #148
Should we make a PR including this edit?

[2021-05-06 14:02] fmaiabatista commented on #16
I have the opposite problem - I have one query and want to be able to split it into multiple sitemaps. Can this be achieved?

Example:
[code]

Also let me know if this belongs to a new Issues entry!

[2021-05-12 08:49] saeedesmaili opened #163 "Some pages are missing in the sitemap"
I'm using this plugin in my gatsby blog. Everything looks and works fine, except a page that isn't in the sitemap.xml file. It seems that sitemap ignores some pages. How can I troubleshoot this problem or fix it?

blog's home page: https://datanerd.blog
sitemap: https://datanerd.blog/sitemap-pages.xml
the page that I can't see in the sitemap: https://datanerd.blog/data-analysis-with-python-moviele

[2021-05-19 06:02] aileen commented on #146
Apologies, I jumped the gun here! I didn't see this feature map and just released 2.0 with the Gatsby update. Feel free to keep adding features. Sorry 🙏

[2021-06-03 08:49] Haja-andri opened #169 "Only one page logged in sitemap-pages.xml"
### Issue Summary

Hello I am trying to generate a sitemap with a what seems to be a basic setup/config. However the sitemap generated has only one page logged whereas I am expecting 600+ pages.

The output I have is a single page URL in `sitemap-pages.xml`

### To Reproduce

Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?

My query and options seem

[2021-06-21 19:52] tbaustin commented on #16
@fmaiabatista you could theoritically just use aliases in your gql to bypass this I think.

[code]

I agree with the OP. Being able to combine queries into one would be super useful. Only way around this I can think of would be to create a new set of nodes using `sourceNodes` with the combined queries then querying those new nodes that way.
@aileen would that work?

[2021-06-21 22:29] tbaustin commented on #169
@Haja-andri did you resolve this?

[2021-06-21 22:31] tbaustin commented on #146
https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/issues/16#issuecomment-865301474

[2021-06-26 07:44] yihou commented on #169
I managed to solve it by adding `id` and `url` into the query.

[code]

You can refer to the `gatsby-node.js` to find out what's going on inside.  😌

[2021-08-17 08:54] LekoArts opened #188 "Peformance Problems"
## Issue Summary

Gatsby maintainer here 👋

Two of our cloud customers saw some pretty long `onPostBuild` steps in their builds (one OOMs, the other takes 30mins) and we pinpointed it to `gatsby-plugin-advanced-sitemap` to be the culprit.

I'd like to get some more context on the plugin so that we can solve this problem for them and everyone else using it.

For comparison: On a 10k page ours takes

[2021-08-18 18:17] FelDev commented on #146
I'd love to have the feature of adding `hreflang` and `rel="alternate"`
See issue #68
It's already a feature of gatsby-plugin-sitemap, so maybe inspiration can be drawn from there.

[2021-08-25 05:08] renovate[bot] opened #189 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore(deps): lock file maintenance

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

[2021-09-25 16:57] yogeshkotadiya commented on #188
@LekoArts Thanks a lot for finding the root cause 🙌 .

I've updated the problem function and the result is significantly improved.
#178

[2021-10-21 13:29] broksonic21 opened #199 "Peer dependency compatibility with Gatsby 4.0"
### Issue Summary

Gatsby 4.0 is out but gatsby-plugin-advanced-sitemap restricts the peer dependency to 3.0. This blocks running npm audit fix, amongst other projects. Is there a plan to update? Looks like renovate is trying to at https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/pull/198

### To Reproduce

See https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/blob/master/packag

[2021-11-01 12:55] broksonic21 commented on #199
is there an update on a new version for this?

[2021-11-08 16:53] Artemdanilov5 commented on #188
what's the status of this problem?

[2021-11-12 05:33] gauthamilango commented on #199
Is anyone working on this?

[2021-11-12 08:59] julrich commented on #199
Also waiting for this! :eyes:
So far it's working flawlessly (as far as I can judge that) for us on `v4`, it's just the warning!

[2021-11-15 17:54] mrseanbaines commented on #140
Super confusing. If you pass a regex, it looks like they strip the leading slash before matching against the regex 🤯

[2021-11-15 17:59] mrseanbaines commented on #140
@AleC77 I am also working with a localized site and I think I have it working. I'm using regexes and omitting the leading slash (due to the above quirk). So something like:

[code]

[2021-11-19 14:46] mrseanbaines commented on #13
I am facing the same issue when using `assetPrefix` since `sitemap.xsl` doesn't get prefixed but the other files do.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/24367010/142640622-88424e9a-2cab-4f3c-89e8-2b27b03a4ce4.png">

Would be nice if there was an option to exclude styling altogether, then I could at least get around the issue. Although should sitemaps get p

[2021-11-29 18:02] ciokan commented on #5
The right answer is: **no there isn't** and they are not interested in making it happen (see https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/pull/158).

This plugin is nothing but a funnel to either:

- drive traffic to their forum, homepage
- get them rich SEO backlinks

[2021-12-06 08:57] mrseanbaines opened #204 "Setting `assetPrefix` prefixes xml files but not xsl (results in broken sitemap)"
### Issue Summary

When setting Gatsby's `assetPrefix` setting, the outputted files from this plugin end up in different places, with the xml files in a directory inside of `public` (e.g. `/public/my-prefix/sitemap.xml`) but the xsl styles file ends up in the root of the `public` directory. The generated `head` tag also points to the site root (i.e. without the prefix).

This results in the sitema

[2021-12-14 19:24] hisnameisjimmy commented on #199
Also would love this!

[2021-12-22 18:07] simon-abbott commented on #199
I can confirm that it breaks with gatsby `4.4.0` because it's using `pify`, but not declaring it as a dependency.

https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/blob/5a7efa130e3f6e64e7f04e582b1fa9cef9dd0bc1/src/utils.js#L2

https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/blob/5a7efa130e3f6e64e7f04e582b1fa9cef9dd0bc1/package.json#L50-L56

[2022-01-12 16:45] Hahlh commented on #199
@simon-abbott Could you please speficy in what way it exactly breaks in your case?

I have currently brought a project up to 4.5.2 and despite the compability warning, the plugin still seems to correctly generate the sitemaps in my case.

[2022-01-25 11:34] nazzart commented on #199
@Hahlh , I have same issue. It doesnt work with gatsby 4.2.
The error message I get durring the build is:
` Error: Cannot find module 'pify'`
`Plugin gatsby-plugin-advanced-sitemap is not compatible with your gatsby version 4.2.0 - It requires gatsby@^3.0.0
`

[2022-01-27 16:42] thibaultcrouzet commented on #199
`warn Plugin gatsby-plugin-advanced-sitemap is not compatible with your gatsby version 4.5.5 - It requires gatsby@^3.0.0`
any update soon?

[2022-02-17 14:10] chmelevskij opened #212 "Adding `addUncaughtPages` ignores `prefix` and `serializer` options"
### Issue Summary

If `addUncaughtPages` option is present in the config any of the `prefix` or `serializer` changes are ignored

### To Reproduce

1. Add prefix like
[code]
2. Build pages
3. Observe links in `sitemap-pages.xml` not having `/uk` prefix in the links

Any other info e.g. Why do you consider this to be a bug? What did you expect to happen instead?

### Technical details:

* Gatsby Ve

[2022-02-24 13:10] tony commented on #199
There is a new package: [`gatsby-plugin-complex-sitemaps`](https://github.com/Chefclub/gatsby-plugin-complex-sitemaps)

Haven't tried it yet, but there's a [migration guide from gatsby-plugin-advanced-sitemap](https://github.com/Chefclub/gatsby-plugin-complex-sitemaps/blob/master/docs/advanced-sitemap-migration.md)

[2022-04-05 16:46] eDubrovsky opened #219 "Undefined URLs in sitemap with Ghost"
### Issue Summary

When generating a sitemap with Ghost mapping, pages like `sitemap-posts.xml`, `sitemap-tags.xml` are rendered with undefined URLs like `https://gatsby.ghost.org/undefined`

Check your official site URLs demo :)))

https://gatsby.ghost.org/sitemap-posts.xml
https://gatsby.ghost.org/sitemap-tags.xml

### To Reproduce

1. Use Gatsby with Ghost Source
2. Build an app with a sitemap

[2022-04-06 09:49] yogeshkotadiya commented on #199
Fixed in release v2.1.0:  #178

[2022-04-06 09:49] #199 closed

[2022-04-06 09:50] yogeshkotadiya commented on #188
Fixed in v2.1.0 : #178

[2022-04-06 09:50] #188 closed

[2022-04-08 23:30] joe-safegraph opened #220 "Google can't parse this sitemap"
### Issue Summary

I was a bit concerned that if this sitemap was being rendered as a pure HTML file and not as an XML file, Google wouldn't be able to parse it. So I tested this out with Google Search Console, and they can't parse it. I don't see any indication of Google support HTML parsing for sitemaps either.

<img width="881" alt="image" src="https://user-images.githubusercontent.com/93544865

[2022-04-18 13:24] #204 closed

[2022-04-20 10:12] snugarchive opened #223 "Trailing slashes are being removed automatically"
Trailing slashes are removed when generating a sitemap. This does not happen with the gatsby-plugin-sitemap. Got any ideas to fix this?

[2022-04-20 10:33] #223 closed

[2022-05-07 09:59] kloh-fr commented on #219
I faced the same issue with posts coming from WordPress source and I made it work using `serializer` option.

[code]

Note: it is necessary to specifically use `edge.node` instead of simply `edge` to  make it work.

_Credits to [andrewdever](https://github.com/andrewdever) who gave the hint in https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/issues/150._

[2022-05-07 10:03] kloh-fr commented on #150
Thank you @andrewdever for your research shared here, you saved my day!

I was facing a similar issue with slugs coming from a WordPress source (issue just linked above) and the `edge.node` thing made the work. 😄

[2022-06-20 13:50] DevanB commented on #113
@yogeshkotadiya I hate to dig up an old issue...

This was valuable information (that should be in some sort of README). However, it is counter-productive to include the images count if the count is 0. Is there a way to _not_ allow the images column to be generated?

Thanks much 😄

[2022-06-27 10:16] robmarshall commented on #223
@snugarchive What was the outcome for this? I am having the same issue across my sites.

[2022-06-29 01:07] snugarchive commented on #223
I switched back to gatsby-plugin-sitemap. I added the "trailingSlash: 'always'" option in gatsby-config.js and works fine.

[2022-09-22 17:48] wheredannyends commented on #223
For future reference, I was having this issue and resolved it by downgrading from `2.1.0` to `2.0.0`

[2022-10-13 12:53] estitpab commented on #148
Do you plan to make this plugin compatible with Gatsby 4?

[2022-10-21 14:09] ezracelli commented on #223
For reference, the removal is happening here: https://github.com/TryGhost/gatsby-plugin-advanced-sitemap/blob/2350a96113e202511cd4157021503d7173e3acb2/src/gatsby-node.js#L86

Fairly easy to patch out, but I think this issue should be re-opened. [The behavior for a trailing slash mismatch depends entirely on the hosting provider](https://www.zachleat.com/web/trailing-slash/#results-table); some ret

[2022-11-11 11:37] stanislavlyu opened #235 "Gatsby v5 support"
Welcome to the Gatsby Plugin Advanced Sitemap GitHub repo! 👋🎉

We use GitHub only for bug reports 🐛

Anything else should be posted to https://forum.ghost.org 👫

For questions related to the usage of Gatsby or GraphQL, please check out their docs at https://www.gatsbyjs.org/ and https://graphql.org/

🚨For support, help & questions use https://forum.ghost.org/c/help
💡For feature requests & ideas yo